* {
    line-height: 1;
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    list-style-type: none;
}
.logo span:first-child {
    font-weight: 18px;
    color: #4D5AE5;
    text-align: center;
}
.logo span:last-child {
    font-weight: 18px;
    color: #2E2F42;
    text-align: center;
}
header {
    margin-left: 25px;
    align-items: center;
    display: inline-flex;
}
.nav-menu {
    align-items: center;
    display: inline-flex;
}
.menu-item {
    margin-left: 76px;
    display: inline-flex;
    padding: 10px 10px;
    gap: 40px;
}
.menu-item-list {
    color: black;
}
.address-menu-item {
    color: black;
}
.address-menu {
    display: inline-flex;
    margin-left: 200px;
    padding: 10px 10px;
    gap: 40px;
}
.hero {
    background: #2E2F42;
    padding: 188px 472px;   
}
h1 {
    font-family: 'roboto', sans-serif;
    font-size: 56px;
    font-style: normal;
    color:white;
}
.button {
    background-color: #4D5AE5;
    padding: 16px 32px;
    color:white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 160px;
}
.buttons {
    list-style-type: none;
    padding: 32px 16px;
    border-radius: 4px;
    display: inline-flex;
    margin-left: 373px;
    gap: 48px;
}
.button:hover {
    cursor: pointer;
    color: orange;
}
.nav-buttons {
    text-align: center;
    box-sizing: border-box;
    display:inline-flex;
    padding: 20px;
    margin-left: 407px;
    gap: 25px;
}
.nav-button:hover {
    cursor:pointer;
    color: orange;
}
.nav-button {
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    background-color: #F4F4FD;
    box-sizing: border-box;
    border-radius: 4px;
    display:inline-flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 24px;
}
.all-button {
    color: white;
    background-color: #404BBF;
    border-radius: 4px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
h2 {
    font-size: 16px;
}
.feature {
    margin-left: 35px;
    margin-right: 35px;
}
.features {
    display: flex;
    padding: 80px 120px ;
}
.transactions {
    text-align: center;
}
.transaction-item {
    display: inline-flex;
    gap: 10px;
}
.this-is-our-team {
    text-align: center;
}
.bulletless-list {
    text-align: center;
    display: inline-flex;
    gap: 24px;
}
.footer-section {
    background-color: #2E2F42;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
footer a {
    text-decoration: none;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
}
.second-logo span:first-child {
    text-decoration: none;
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #4D5AE5;  
}
.second-logo span:last-child {
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
}
.our-team {
    margin-top: 120px;
    background-color:#F4F4FD;
    text-align: center;
}
.footer-section {
    color: white;
}
.project-card-list {
    box-sizing: border-box;
    display:inline-flex;
    flex-wrap: wrap;
}