:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navyblue-modal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}
* {
    box-sizing: border-box;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}
.page-header {
    border-bottom: 1px solid var(--cornflower);
}
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: var(--navyblue);
    background-color:Var(--white);    
}
.logo-link {
    color:var(--iris);
    font-family: Raleway; sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;
}
.logo-black {
    color: var(--navyblue);
}
.logo-white {
    color: var(--white);
}
.menu-item,
.menu-item-list,
.address-menu,
.address-menu-item,
.navigation { 
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--navyblue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.menu-item {
    margin-left: 93px;
}
.address-menu {
    margin-left: auto;
}
.menu-item-list,
.address-menu-item {
    margin-right: 50px;
}
.menu-item-list .menu-item-list:not(:last-child),
.address-menu-item:not(:last-child) {
    margin-right: 50px;
}
.menu-item-list:hover,
.menu-item-list:focus {
    color: var(--ocean);
}
.address-menu-item:hover,
.address-menu-item:focus {
    color: var(--ocean);
}
.container {
    width: 1150px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section {
    padding: 120px 0px;
}
.hero {
    background: var(--navyblue);
    padding: 188px 0px;
    text-align: center;   
}
.hero-title {
    font-size: 56px;
    color: var(--white);
    letter-spacing: 0.02em;
    margin-bottom: 30px;
}
.button {
    font-family: inherit;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
}
.button-primary {
    background-color: var(--iris);
    color:var(--white);
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0,0,0.0.15);
    font-size: 16px;
    letter-spacing: 0.06em;
}
.button-primary:hover,
.button-primary:focus {
    background-color: var(--ocean);
}
.features {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.features .item {
    flex-basis: calc((100% - 90px) / 4);
}
.features .title {
    margin-bottom: 10px;
    color: var(--navyblue);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.no-top-padding {
    padding-top: 0;
}
.transaction-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.transaction-list .item {
    flex-basis: calc((100% - 48px) / 3);
}
.section-bg-team {
    background-color: var(--cloud);
    height: 732px;
}
.section-title {
    text-align: center;
    padding-top: 120px;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    list-style: 1.17;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.team-list .item {
    flex-basis: calc((100% - 80px) / 4);
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0,0,0.0.12), 0px 1px 1px rgba (0,0,00.14)
}
.team-list .name,
.team-list .position {
    text-align: center;
    font-size: 16px;
    line-height: 1.19em;
}
.team-list .name {
    margin-bottom: 10px;
}
.card-text {
    padding: 20px 24px;
}
.page-footer {
    padding: 60px;
    background-color: var(--navyblue);
}
.footer-description {
    color: var(--white);
    margin-top: 20px;
}
.nav-buttons-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    padding-bottom: 72px;
}
.nav-button {
    padding: 12px 24px;
    border: var(--white);
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
    color: var(--iris);
}
.nav-button:hover,
.nav-button:focus {
    color: var(--white);
    background-color: var(--ocean);
}
.project-cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.project-card-item {
    flex-basis: calc((100% - 90px) / 3);
}
.project-description {
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid var(--cornflower);
    border-top: none;
}
.project-text {
    color: var(--navyblue);
    padding: 0px 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.card-text {
    color: var(--slate);
    padding: 0px 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
}